.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
}

.form .form-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}

 .forma, .form a:visited {
    color: #fff;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"], .form button {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}
.form label,
.form button {
  margin-top: 1rem;
}

.form button {
  padding: 0.5rem;
  color: #F49D47;
  cursor: pointer;
}
.formpart{
    width: 40%;
    display: flex;
    flex-direction: column;
}

.form .instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.form .instructions > svg {
    margin-right: 0.25rem;
}

.form .offscreen {
    position: absolute;
    left: -9999px;
}

.form .hide {
    display: none;
}

.form .valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.form .invalid {
    color: red;
    margin-left: 0.25rem;
}

.form .errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.form .line {
    display: inline-block;
    text-decoration: none;
    background-color: black;
    padding: 0.5rem;
    border-radius: 5px;
}