.results-list{
    width: 250px;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    max-height: 50px;
    position: absolute;
}
.search-result{
    padding: 10px 20px;
}
.search-result:hover{
    background-color: #efefef;
}
.results-list-in-table{
    background-color: #FFF;
    margin: 1rem 3%;
}
.icon{
    color: #F49D47;
    margin: 2px 7px;
    font-size: 22px;
    cursor: pointer;
}