@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}
body {
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;
  line-height: 1.3;
}

table {
  border-collapse: collapse;
  width: 90%;
}
td, th { 
 text-align: center; 
 border: 1px solid #ddd; 
 padding:.3em 3px;
  font-size: 1em;
}
th { 
  background-color:#f4f4f4;
  font-weight: normal;
}


/* queries */
@media screen and (max-width: 520px){
 
html.results-list-in-table table:before {
  content: "";
  display: block;
  background: #333;
  padding: 10px;
}


}

.dropzone {
  text-align: center;
  padding:20px 10px;
  border: 3px dashed #eeeeee;
  background-color: #fafafa;
  color: #bdbdbd;
  cursor: pointer;
  width: 30%;
  margin-bottom: 20px;
}

.selected-file-wrapper {
  text-align: center;
}

.selected-file {
  color: #000; 
  font-weight: bold;
}

.not{
  color: black;
  text-decoration: none;

}
.yes{
  color: red;
  
}
.yes, .not{
  font-size: 1.2rem;
  padding: 4px;
  margin: 5px;
  cursor: pointer;
}
.yes:hover, .not:hover{
  font-size: 1.7rem;
  transition: 250ms;
}
.delete-message{
  margin-top: 30px;
}

.img-for-profile{
  width: 70px;
}
.updatemsg{
  color: #045711;
}
.saveemail,.updateactivities .lines{
  background-color: #2e6541;
  color: #FFF;
  padding: 3px;
  border-radius: 3px;
  width: 120px;
  margin: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: 250ms;
  font-size: 12px;
}
.updateactivities{
  display: flex;
  text-align: center;
  margin-right: 3%;
}
