.opportunity-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--white);
  border: 2px solid var(--green);
  overflow: hidden;
  border-radius: 8px;
  padding: 20px;
}

.card-header {
  color: var(--brown);
  font-family: Medium;
  font-size: 16px;
  margin-bottom: 10px;
}

.card-description {
  color: var(--black);
  font-family: Regular;
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 10px;
}

.card-meta {
  color: var(--black);
  font-family: Light;
  font-size: 12px;
  margin-bottom: 6px;
}

.card-link {
  color: var(--green);
  font-family: Regular;
  font-size: 14px;
  text-decoration: none;
  margin-bottom: 16px;
}

.card-link:hover {
  color: var(--brown);
}

.card-actions {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.card-actions button {
  background-color: var(--coffee);
  color: var(--white);
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  font-size: 1rem;
  cursor: pointer;
}

.card-actions button:hover {
  background-color: var(--brown);
}
