@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.HomeHeader{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px 5%;
} 
.HomeHeaderLeft{
    width: 28%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: -12px;
}
.HomeHeaderLeft p{
    margin-left: 5px;
}


.alumni-stories {
    font-family: 'Poppins', sans-serif;
    color: #6D5736;

    padding: 0  57px; /* Add padding to the sides */
  }

  .alumni-stories h1 {
    font-size: 2rem; /* Adjust the font size as needed */
    color: #6D5736;
   font-weight: 700; /* Bold */

  }
  
  .alumni-stories p {
    font-size: 1.2rem; /* Adjust the font size as needed */
    padding-top: 0;
    color: #957967;
    font-weight: 400; /* Regular */
    
  }
  
  
.cards-wrapper {
    display: flex;
    justify-content: center; /* Center the cards horizontally */
    flex-wrap: wrap; /* Allow the cards to wrap to the next line on smaller screens */
    gap: 20px; /* Add space between the cards */
    margin-top: 20px;
  }