@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.HomeHeader{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px 5%;
} 
.HomeHeaderLeft{
    width: 28%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: -12px;
}
.HomeHeaderLeft p{
    margin-left: 5px;
}


.alumni-stories {
    font-family: 'Poppins', sans-serif;
    color: #6D5736;
    padding: 0  57px; /* Add padding to the sides */
    margin-top: 7rem; /* Adjust the space above the alumni stories section */
  
  }

  .alumni-stories h1 {
    font-size: 2rem; 
    color: #6D5736;
   font-weight: 700; /* Bold */
   margin-bottom: 0.1rem;
   color: var(--brown);
    font-family: Bold;

  }
  
  .alumni-stories p {
    font-size: 1.2rem; /* Adjust the font size as needed */
    padding-top: 0;
    color: var(--coffee);
    font-family: Regular;
   margin-bottom: 4rem;
    margin-top: 0.5rem;
    
  }
  
  
  .cards-wrapper {
    display: flex;
    justify-content: center; /* Center the cards horizontally */
    flex-wrap: wrap; /* Allow the cards to wrap to the next line on smaller screens */
    gap: 20px; /* Add space between the cards */
    margin-top: 20px;
  
  }
  
.HomeBannerTitle{
    /* font */
    color: var(--green);
    font-family: Medium;
    font-size: 50px;
    text-align: center;
    transition: 0.2s;
    text-shadow: 2px 2px 4px var(--greyopa);
    /* box */
    width: 100%;
    margin-top: -10px;
    margin-bottom: -50px;
}
.HomeBannerTitle:hover{
    font-size: 55px;
}
.HomeBannerText{
    /* font */
    color: var(--black);
    font-family: Light;
    font-size: 18px;
    text-align: center;
    /* box */
    width: 100%;
    margin-bottom: 50px;
}

/* 3. HOME Banner - Annie */

/* 3. HOME FOOTER - Annie */
.HomeFooter{
    /* display */
    display: flex;
    justify-content: center; /* Center the cards horizontally */
    flex-wrap: wrap; /* Allow the cards to wrap to the next line on smaller screens */
    gap: 20px; /* Add space between the cards */
    margin-top: 20px;
  
  }

  /* Home.css */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.hidden {
  display: none;
}

.errmsg {
  color: red;
  font-weight: bold;
  margin: 1rem 0;
}

.offscreen {
  position: absolute;
  left: -9999px;
}
