.CardSmall {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 16px;
    margin: 16px;
    text-align: center;
    width: 30%;
    height: 20%;
  }

.card-list {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    
}

image {
  width:15%;
  height:10%;
}
.new-event{
  width: 70px;
  background-color: orange;
  color: white;
  padding: 4px;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
}