
.HomeTopBar{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0px 5%;
} 
.HomeTopBarLeft{
  width: 28%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.HomeTopBarLeftContent{
  display: flex;
  align-items: center;
  margin-top: -12px;
}
.HomeTopBarLeftContent p{
  margin-left: 5px;
}