:root{
  --green: #498160;
  --brown: #6d5736;
  --orange: #f49c46;
  --coffee: #957967;
  --yellow: #d8b040;
  --black: #363636;
  --blackopa: #36363610;
  --grey: #828282;
  --greyopa: #82828290;
  --white: #F7F7F7;
  --palegrey: #D9D9D9;
  --palegreen: #EEF7F0;
  /* var(--color) */
}

@font-face{
  font-family: Regular;
  src: url(static/Poppins/Poppins-Regular.ttf)
}

@font-face{
  font-family: Medium;
  src: url(static/Poppins/Poppins-Medium.ttf)
}

@font-face{
  font-family: Light;
  src: url(static/Poppins/Poppins-Light.ttf)
}

@font-face{
  font-family: Bold;
  src: url(static/Poppins/Poppins-Bold.ttf)
}

body, html{
  margin: 0;
  padding: 0;
}
