.staff-data{
    margin: 10px 1%;
}
.staff-data-header{
    background-color: white;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-staff{
    width: 200px;
}
.staff-header-right{
    display: flex;
    gap: 10px;
}
.export-staff{
    color: #F49D47;
    border: 1px #F49D47 solid;
    border-radius: 3px;
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 3px;
    cursor: pointer;
}
.add-staff{
    background-color:  #F49D47;
    color: #FFF; 
    border-radius: 3px;
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 3px;
}
.add-staff .link{
    color: #FFF;
    text-decoration: none;
}
.addicon{
    color: #FFF; 
    font-size: 14px;
}

.staff-info{
    margin: 20px 3%;  
    background: #FFF;
    border-radius: 10px;
    padding: 5px;
}

.user-image{
    width: 100px;
    border-radius: 50%;
}
.user-image-icon{
    width: 25px;
    border-radius: 50%;
}
.useredit{
    background-color: #F49D47;
    color: #FFF;
    border-radius: 5px;
    width: 70px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    padding: 3px;
    margin-right: 7px;
}
.staff-details{
    display: flex;
    flex-direction: column;
    font-size: 16px;
}
