/* Set a custom font for the calendar */
.react-calendar {
    width: 400px;
    height: fit-content;
    font-family: Medium;
    border: none; /* Remove border */
    background: none; /* Remove background */

   
  }
  
  .react-calendar__tile {
    border: none; /* Remove tile borders */
    background: none; /* Remove tile background */
    outline: none;
    font-size: 14px; /* Adjust font size */
    padding: 13px; /* Add padding for better spacing */
    border-radius: 50%;
  
  }

  /* Highlighted dates */
  .highlight {
    background: var(--green); /* Custom highlight color */
    color: var(--white); /* Custom text color for highlighted dates */
    border-radius: 50%; /* Make the highlight a circle */
  }


  /* Custom styles for selected date */
.react-calendar__tile--active,
.react-calendar__tile--active:enabled,
.react-calendar__tile--active:focus,
.react-calendar__tile--active:hover {
  background: var(--yellow) !important; /* Custom active background */
  color: var(--white) !important; /* Custom active text color */
  border-radius: 50%; /* Ensure the border radius is applied */
}
 
  /* Remove navigation button borders and set custom styles */
  .react-calendar__navigation button {
    border: none; /* Remove button borders */
    background: none; /* Remove button background */
    font-size: 1.2rem; /* Adjust font size */
    color: var(--black); /* Custom color */
   padding: 20px;

  }
  
  /* Custom styles for weekday labels */
  .react-calendar__month-view__weekdays {
    font-size: 14px; /* Adjust font size */
    color: var(--brown); /* Custom color for weekdays */
    margin-bottom: 10px; /* Add margin to separate weekdays from tiles */
    font-family: light;
    text-decoration: none;
  }

  .react-calendar, .react-calendar *, .react-calendar *:before, .react-calendar *:after {
    box-sizing: border-box;
}
  
  /* Custom styles for month navigation */
  .react-calendar__navigation {
    display: flex;
    justify-content: space-between; /* Spread out the navigation buttons */
    align-items: center;
    
    border-radius: 40%;
    background: none;
  }


  
  /* EventsCalendar.css */

.EventsCalendarContainer {
   display: flex;
    justify-content: right;
    padding-top: 40px;
   margin-left: 390px;

  }
  
  .calendar-side {
    width: 300px;
    margin-right: 80px;
  }
  
  .events-side {
    flex: 1;
  }
  
  .highlight {
    background: var(--green);
  }
  
  .event-card {
    width: 350px;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    margin: 0.5rem;
    height: fit-content;
   overflow: hidden; 
  }
  
  .event-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    box-shadow: 0px 1px 5px #b3b3b3;
    object-fit: cover;
  transition: transform 0.3s ease-in-out;
  }
  
  .event-details {
    padding: 10px;
  }
  
  .title {
    margin: 0;
    font-family: Medium;

  }
  
  .event-details p {
    overflow: hidden; /* Ensures text does not overflow */
    
    white-space: nowrap; /* Keeps text in a single line */
    font-family: light;/* Use Poppins font */
    font-size: 18px; /* Font size 16 */
    color: var(--brown);
    margin-bottom: 0rem;
  }
  
  .event-details a {
    color: var(--coffee);
    text-decoration: none;
  }
  
  .event-details a:hover {
    text-decoration: underline;
  }
  .below-header{
 
    justify-content: flex-end;
    margin-top: 40px;

  }
  .card-view {
   
    background-color: var(--orange);
    color: var(--white);
    font-family: Medium;
    font-size: 14px;
    text-decoration: none;
    width: 100%;
    padding: 10px 10px;
    border-radius: 30px; 
    margin-left: 90%;/* Adjust margin if needed */

  }
  
  .card-view:hover {
    background-color: var(--green);
  }
  